
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fretefy-fullstack-primary: mat-palette($mat-light-blue);
$fretefy-fullstack-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fretefy-fullstack-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fretefy-fullstack-theme: mat-light-theme((
  color: (
    primary: $fretefy-fullstack-primary,
    accent: $fretefy-fullstack-accent,
    warn: $fretefy-fullstack-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($fretefy-fullstack-theme);

/* You can add global styles to this file, and also import other style files */
html, body {
    padding: 0;
    margin: 0;
    background-color: #dfe6e9;
}
html, body { height: 100%; }
body { margin: 0 }

:root{
  --primary-color: #003250;
  --secondary-color: #8ba1af;
  --tertiary-color: #e7ecef;
  --quaternary-color: #e7f5fd;
  // --quinary-color: #f7f8f9;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;

  h1 {
    margin-bottom: 0;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.25rem;
  }

}
.fretefy{
  .mat-button.pill {
    border-radius: 2rem;
    &:not(:disabled) {
      background-color: var(--tertiary-color);
      color: var(--primary-color);
    }
  }
  .flex {
    display: flex;
  }

  .items {
    &-start {
      align-items: start;
    }

    &-center {
      align-items: center;
    }
  }

  .justify {
    &-center {
      text-align: center;
    }

    &-between {
      justify-content: space-between;
    }

    &-end {
      text-align: right;
    }
  }
  .p{
    &-0 {
      padding: 0;
    }
    &-1 {
      padding: 1rem;
    }
  }

  .rounded-0 {
    border-radius: 0;
  }

  .elevation-0 {
    box-shadow: none;
  }

  .m {
    &-0 {
      margin: 0;
    }

    &b-0 {
      margin-bottom: 0;
    }

    &t-1 {
      margin-top: 0.5rem;
    }
    &b{
      &-1 {
        margin-bottom: 0.5rem;
      }
      &-2 {
        margin-bottom: 1rem;
      }
    }
  }

  .border-t {
    border-top: 1px solid #ececec;
  }

  .heading-color {
    color: var(--primary-color);
  }

  .text-md {
    font-size: 1rem;
  }

  .w-full {
    width: 100%;
  }
}


